{% extends 'base.html.twig' %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="styles/homepage.css">
{% endblock %}

{# SEO BLOCKS #}
{# {% block page_url %}{% endblock %} #}
{# {% block featured_image %}{% endblock %} #}
{# {% block og_type %}{% endblock %} #}
{# {% block extra_keywords %}{% endblock %} #}

{% block title %}Accueil{% endblock %}
{# {% block description %}{% endblock %} #}

{% block body %}
<h1>Hello World !</h1>
{% endblock %}