{% extends 'base.html.twig' %}

{% block title %}Nos actualités{% endblock %}

{% block extra_stylesheets %} <link rel="stylesheet" href="styles/actualite.css"> {% endblock %}

{% block body %}

<main>
    <div class="actualite-hero-section">
        <h1 class="h1-hero-section">MANGER C COOL</h1>
        <button class="actualite-btn">VOIR LA CARTE</button>
        <button class="actualite-btn">RESERVER</button>
    </div>
    <div class="actualite-container">
    </div>
</main>

{% endblock %}
