{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}
{% block extra_stylesheets %} <link rel="stylesheet" href="styles/services.css"> {% endblock %}

{% block body %}
<main>
    <header>
        <h1>Nos services</h1>
    </header>

    <section>
        <h2>Plage privée</h2>
        <div>
            <div>
                <img src="plage-prive.jpg" alt="plage privée"/>
            </div>
            <p>Pudding tart marzipan cupcake marshmallow candy canes marzipan. Oat cake biscuit cookie halvah lollipop halvah chupa chups. Halvah lemon drops tart liquorice liquorice jelly-o chupa chups sugar plum. Jelly candy croissant chupa chups candy canes soufflé macaroon biscuit. Chocolate cake wafer jelly-o tart halvah chocolate. Jelly-o chocolate bar chocolate bar chocolate danish danish cake liquorice. Chupa chups apple pie chupa chups cupcake pudding biscuit croissant. Tootsie roll cupcake jelly-o bonbon icing wafer halvah dessert. Muffin toffee jelly beans gummies cookie dragée pudding. Toffee pie sugar plum jelly-o caramels jelly beans brownie brownie gummi bears. Sweet roll candy toffee fruitcake sweet gummies. Gummi bears halvah shortbread jelly-o candy gummies fruitcake croissant danish.</p>    
        </div>
    </section>

    <section>
        <h2>Evènements</h2>
        <div class="second">
            <div>
                <img src="evenement.jpg" alt="évènement"/>
            </div>
            <p>Pudding tart marzipan cupcake marshmallow candy canes marzipan. Oat cake biscuit cookie halvah lollipop halvah chupa chups. Halvah lemon drops tart liquorice liquorice jelly-o chupa chups sugar plum. Jelly candy croissant chupa chups candy canes soufflé macaroon biscuit. Chocolate cake wafer jelly-o tart halvah chocolate. Jelly-o chocolate bar chocolate bar chocolate danish danish cake liquorice. Chupa chups apple pie chupa chups cupcake pudding biscuit croissant. Tootsie roll cupcake jelly-o bonbon icing wafer halvah dessert. Muffin toffee jelly beans gummies cookie dragée pudding. Toffee pie sugar plum jelly-o caramels jelly beans brownie brownie gummi bears. Sweet roll candy toffee fruitcake sweet gummies. Gummi bears halvah shortbread jelly-o candy gummies fruitcake croissant danish.</p>    
        </div>
    </section>

    <section>
        <h2>Activités touristiques</h2>
        <div>
            <div>
                <img src="activite.jpg" alt="activité"/>
            </div>
            <p>Pudding tart marzipan cupcake marshmallow candy canes marzipan. Oat cake biscuit cookie halvah lollipop halvah chupa chups. Halvah lemon drops tart liquorice liquorice jelly-o chupa chups sugar plum. Jelly candy croissant chupa chups candy canes soufflé macaroon biscuit. Chocolate cake wafer jelly-o tart halvah chocolate. Jelly-o chocolate bar chocolate bar chocolate danish danish cake liquorice. Chupa chups apple pie chupa chups cupcake pudding biscuit croissant. Tootsie roll cupcake jelly-o bonbon icing wafer halvah dessert. Muffin toffee jelly beans gummies cookie dragée pudding. Toffee pie sugar plum jelly-o caramels jelly beans brownie brownie gummi bears. Sweet roll candy toffee fruitcake sweet gummies. Gummi bears halvah shortbread jelly-o candy gummies fruitcake croissant danish.</p>    
        </div>
    </section>
</main>
{% endblock %}
