{% extends 'base.html.twig' %}

{% block extra_stylesheets %} <link rel="stylesheet" href="styles/homepage.css"> {% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Hello World!</h1>
{% endblock %}
