/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/** Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  letter-spacing: 5px;
  color: #404040;
}

p,
span {
  font-family: "Playfair Display";
  color: #404040;
}

/*NavBar css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px 20px;
  border-bottom: 1px solid red;
}

.navLogo {
  display: flex;
  align-items: center;
}

img {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 20px;
}

.brand-name {
  font-size: 15px;
  font-family: "Raleway";
  letter-spacing: 5px;
  color: black;
  text-decoration: none;
}

ul {
  display: flex;
  font-family: "Raleway";
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 20px;
}

ul li:first-child {
  margin-left: 0px;
}

ul li a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}

@media (max-width: 744px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 5px 20px;
    border-bottom: 1px solid red;
  }
}
