/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  background-color: #F0EADA;
  color: black;
  margin: 0;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, li {
  text-decoration: none;
  color: black;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/** Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  color: black;
  margin: 0;
}

p,
span {
  font-family: "Playfair Display";
  color: black;
  margin: 0;
}

/* Flash messages */
.flash {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  padding: 1rem;
  border-radius: 5px;
  min-width: 320px;
  max-width: 480px;
}

.flash.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.flash-success {
  background-color: #36ae7c;
  color: #fff;
}

.flash-close {
  cursor: pointer;
}

.flash-message {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Raleway;
  text-align: center;
  margin-bottom: 1rem;
}