{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
<img src="/img/terrasseRestoNuit.jpg" alt="">
<h1>Réserver une table</h1>
<div>Booking Form goes here</div>
<h2>Où nous trouver ?</h2>
<img src="/img/map.png" alt="">
<div>
    <h3>Addresse</h3>
    <p>14 Av. des Elysées</br>34350 Valras-Plage</p>
    <h3>Parking</h3>
    <p>2 Pl. du Languedoc</br> 34350 Valras-Plage</p>
    <h3>Accès</h3>
    <p>Bus 3, E</br>Arrêt Elysées</p>
    <h3>Téléphone</h3>
    <p>04.03.02.01.05</p>
    <h3>Horaires</h3>
    <p>12h-2h</p>
    <h3>Email</h3>
    <p>contact@la-paillote-du-soleil.fr</p>
    <h3>Réseaux sociaux</h3>
    <p>Facebook / Instagram / TikTok</p>
    <h3>Moyens de paiement</h3>
    <p>CB / Titres Restaurant / Espèces</p>
    <h3>Cartes acceptées</h3>
    <p>Amex / Visa / Mastercard</p>
    <h3>Langues parlées</h3>
    <p>Français / Anglais / Espagnol</p>
</div>
<h2>Contact</h2>
<div>Contact Form goes here</div>

{% endblock %}
